<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Flask + Bokeh + Ajax with Portic data</title>
    
    
  </head>
  <body>
      <p>The graph will show <ol><li>first the number of ports per admiralty in 17872</li> <li>and then you can get the traffic for each port per admiralty in 1787</li></ol></p>
      <div id="plot_content">
        {{ plot_script|indent(4)|safe }}
        {{ plot_div|indent(4)|safe }}
      </div>
    <form>
        <select name="admiralty" id="admiralty-select">
            choose an admiralty amongst the available list
            <option value="">--Please choose an admiralty to filter on--</option>
            <option value="Rochefort">Rochefort</option>
            <option value="Unknown">Unknown</option>
            {{ liste_options|indent(4)|safe }}
        </select>
    </form>
			
    <p>-----------------------------</p>
    <button onclick="count()">Click here and see what happens</button>
    <p>-----------------------------</p>
    <button onclick="window.location.reload();">And now refresh your page</button>
    
    
   <!-- SCRIPTS section at the end of the HTML file -->
      {{ js_resources|indent(4)|safe }}
      {{ css_resources|indent(4)|safe }}
      <script>
        var i = 1;
  
        function count(){
            i = i+1;
            console.log(i);
            alert('I come here '+i+' times'); 
            return i;
        }
  
      </script>
    <script type="text/javascript" src="static/jquery-3.2.1.min.js"></script>

    <!-- 
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="jquery-3.2.1.min.js"></script>
    -->

    <script type="text/javascript">
        $(document).ready(function() {
          $('#admiralty-select').change(function(event){
              event.preventDefault();
              console.log($("#admiralty-select").val());
              $.getJSON('/ajaxviz', {
                  admiralty: $("#admiralty-select").val(),
                  }, function(data) {
                      $('#plot_content').html(data.html_plot);
              });
              return false;
          });
        });
      </script>
      
  </body>
</html>
